@import "tailwindcss";

html,
body {
  background-color: transparent;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Roboto", "Noto Sans", sans-serif;
  color: #1a1a1a;
  overflow: hidden;
  user-select: none;
}
